/* su dung vung chon ID*/
#dong1{
    background-color:aquamarine;
    color:black;

}
#cot1.2{
    background-color:antiquewhite;

}

#cot2.2{
    background-color:yellow;
}

#dong3{
    background-color:lightpink;
}
